@media (max-width: 1620px) {
  .header-slider__text {
    margin-top: 330px;
  }
  .title-60 {
    font-size: 54px;
  }
  .title-48 {
    font-size: 44px;
  }
  .title-46{
    font-size: 42px;
  }
  .header-title-24,
  .header-slider__text .title-60 {
    margin: 0 0 22px 0;
  }

  .header-slider .slick-arrow.slick-next {
    left: 200px;
  }
  .header-slider .slick-arrow.slick-prev {
    left: 300px;
  }
  .margin-120 {
    margin: 100px auto;
  }
  .counting-banner__text,
  .counting-banner__num span {
    font-size: 40px;
  }
  .counting-banner__num {
    margin: 0 0 22px 0;
  }

  .about-us__main-page-text {
    width: 60%;
    height: 248px;
    font-size: 20px;
    line-height: 36px;
  }
  .about-us__main-page img, .about-us__page img{
    top: 12px;
    height: 350px;
  }
  .partners-slider{
    margin: 65px -86px 100px 0;
  }
  .learn-more{
    padding: 68px 0;
  }

  .learn-more .video{
    height: 500px;
  }
  .news-slider__content .title-30 {
    margin: 150px 0 10px 0;
}
.news-slider .slick-arrow.slick-next{
    left: 230px;
}
.news-slider .slick-arrow.slick-prev{
    left: 290px;

}
.news-title{
    font-size: 28px;
}

.projects-mainpage h2 {
    margin-bottom: 150px;
}
.project-image__slider{
    height: 600px;
}
.project-slider__text {
   
    padding: 80px 40px 81px 60px;
   
}
.big-banner:last-of-type {
  background-position: 490px 0px;
}
}
@media (max-width: 1400px) {
  .header-slide {
    height: 700px;
  }
  .header-slider__text {
    margin-top: 250px;
}
  .title-60{
    font-size: 50px;
    line-height: 64px;
  }
  .title-48 {
    font-size: 42px;
} 
.title-30{
  font-size: 26px;
}
  .margin-120 {
    margin: 80px auto;
}
  .header-title{
    padding: 0 40px 0 0 ;
  }
  .header-slider__text .title-60{
    max-height: 140px;
  }
  .header-title h4,
  .header-links a,
  .header-links span{
    font-size: 18px;
  }
  .header-title::before{
    left: -250px;
  }
  .menu a{
    font-size: 18px;
    margin-left: 40px;
  }
  .contact{
    padding: 8px 20px;
  }
  .header-img {
    width: 160px;
    height: 50px;
  } 
  header.header-scroll .header-second {
    margin: 0 0 8px 0;
}
.header-title-24{
  font-size: 20px;
  margin: 0 0 18px 0;
}
.header-slider .slick-arrow.slick-next, .header-slider .slick-arrow.slick-prev {
  border: 3px solid var(--black);
  width: 66px;
  height: 66px;
}
.header-slider .slick-arrow.slick-next{
  left: 145px;
}
.header-slider .slick-arrow.slick-prev{
  left: 235px;
}
.counting-banner__text, .counting-banner__num span{
  font-size: 36px;
}
.counting-banner__text, .counting-banner__num span{
  font-size: 32px;
}
.counting-banner__num {
  margin: 0 0 14px 0;
}
.about-us__main-page-text{
  font-size: 18px;
  line-height: 32px;
 
}
.about-us__main-page img, .about-us__page img {
    top: 38px;
    height: 267px;
}
.partners-slide img{
  max-width: 90%;
  max-height: 90%;
}
.learn-more1 h1{
  line-height: 72px;
  margin-bottom: 45px;
}
.learn-more .video{
  height: 400px;
}
.news-date{
  font-size: 18px;
  margin-bottom: 8px;
}
.news-title{
  font-size: 24px;
}
.news-text{
  font-size: 18px;
  height: 56px;
}
.news-slider-text{
  font-size: 18px;
  max-height: 146px;
}
.news-slider .slick-arrow.slick-next{
  left: 170px;
}
.news-slider .slick-arrow.slick-prev{
  left: 230px;
}

.projects-mainpage h2{
  margin-bottom: 130px;
}
.project-slider__text {
  padding: 50px 38px 50px 38px;
}
.project-title{
  font-size: 28px;
}
.project-text{
  font-size: 18px;
  line-height: 32px;
  height: 184px;
}
.project-image__slider{
  height: 500px;
}
.big-banner {
  height: 340px;
  padding: 74px 50px 0 50px;
  margin: 50px 0 0px 0;
}
.title-46{
  font-size: 38px;
  line-height: 52px;
  height: 100px;
}
.big-banner:last-of-type {
  background-position: 407px 0px;
}
.big-banner a{
  padding: 35px 35px 24px 35px;
}
.big-banner a img{
  width: 40px;
}
.big-banner a:hover img {
  transform: translate(5px, -5px);
}

.big-banner:first-of-type {
    background-image: url(../assets/images/Mask\ group\ \(11\).png);
    background-repeat: no-repeat;
    background-position: 42px 208px;
}
.footer-text{
  font-size: 18px;
  line-height: 32px;
}
.light{
  font-size: 20px;
}
.semibold{
  font-size: 20px;
}
.fotter-first{
  padding: 0 0 60px 0;
}
.fotter-second{
  font-size: 14px;
}
.footer-right .header-links {
  margin: 0 0 50px 0;
}
.footer-subscribe button{
  font-size: 16px;
}
.news-section {
  margin: 0px 0 90px 0;
}

}
@media (max-width: 1200px) {
  .header-links,
  .header-second{
    display: none;
  }
  .burger-menuicon {
    display: block;
  }
  .header-slider__text {
    margin-top: 200px;
}
.header-slide {
  height: 600px;
}
.header-slider__text .title-60{
  font-size: 38px;
  line-height: 56px;
  max-width: 400px;
  max-height: 108px;
}
.title-60{
  font-size: 38px;
}
.title-48 {
  font-size: 36px;
}

.about-us__main-page h2, .about-us__page h2 {
  margin: 0 0 16px 0;
  
}
.about-us__main-page img, .about-us__page img{
  height: 220px;
}
.margin-120 {
  margin: 66px auto;
}
.learn-more {
  padding: 40px 0;
}
.learn-more .video {
  height: 320px;
}
.learn-more1 h1{
  line-height: 58px;
}
.button{
  font-size: 18px;
  padding: 8px 28px;
}
.news-slider__content{
  width: 100%;
}
.news .icon-Group-9{
  font-size: 46px;
}
.news-list__news-slider {
  padding: 0 40px 0 30px;
}
.title-46 {
  font-size: 32px;
  line-height: 46px;
  height: 84px;
}
.big-banner{
  height: 300px;
}
.big-banner:last-of-type {
  background-position: 337px 0px;
  background-position-x: 337px;
  background-position-y: 0px;
}
.big-banner:first-of-type {
  background-image: url(../assets/images/Mask\ group\ \(11\).png);
  background-repeat: no-repeat;
  background-position: 17px 157px;
}

.fotter-first {
  padding: 0px 0 45px 0;
  margin-top: 80px;
}
.light, .semibold{
  font-size: 18px;
}
.footer-info {
  margin: 28px 0 0 0;
}
.footer-text {
  font-size: 16px;
  line-height: 30px;
  height: 55px;
}
.project-text__slider{
    width: 450px;
}
.project-slider__text{
  width: 100%;
  padding: 40px;
}
.project-title {
  font-size: 24px;
}
.priject-date {
  font-size: 18px;
  margin: 0 0 8px 0;
}
.project-image__slider{
  height: 440px;
}
.projects-mainpage h2 {
  margin-bottom: 80px;
}
.projects-mainpage.margin-120{
  margin: 80px auto 120px auto;
}
.project-slider__arrows{
  bottom: -75px;
}


}
@media (max-width: 992px) {

  .header-slide{
    height: 450px;
  }
  .header-slider__text {
    margin-top: 150px;
}
.header-slider__text .title-60 {
  font-size: 30px;
  line-height: 46px;
  max-width: 400px;
  max-height: 89px;
}
.header-title-24, .header-slider__text .title-60 {
  margin: 0 0 14px 0;
}
.header-title-24,
.header-slider__text a{
  font-size: 18px;
}
.margin-120 {
  margin: 40px auto;
}
.title-48 {
  font-size: 32px;
}
.title-60 {
  font-size: 32px;
  line-height: 52px;
}
.marginb-50 {
  margin-bottom: 35px;
}
.counting-banners .row{
  overflow-x: scroll;
}
.counting-banner{
  flex:0 0 auto;
  width: 50%;
  padding: 0 10px;
  scroll-snap-align: start;
}
.counting-banner.width-25{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.counting-banner__text, .counting-banner__num span {
  font-size: 30px;
}
.counting-banner__text, .counting-banner__num span {
  font-size: 28px;
}
.about-us__main-page img, .about-us__page img{
  display: none;
}
.about-us__main-page, .about-us__page {
  margin: 40px 0;

}
.about-us__main-page-text{
  width: 100%;
}
.learn-more1,
.learn-more2{
  width: 100%;
}
.learn-more1 h1 {
  line-height: 52px;
  margin-bottom: 30px;
}
.learn-more1{
  margin-bottom: 40px;
}
.learn-more {
  margin: 0 0 60px 0;
}
.news-slider .slick-arrow.slick-next {
  left: 80px;
}
.news-slider .slick-arrow.slick-prev {
  left: 140px;
}
.news-title {
  font-size: 22px;
}
.news-text{
  margin: 8px 0 0 0 ;
}
.big-banner{
  width: 100%;
  height: 350px;
  flex: 0 0 auto;
  margin: 0;
}
.big-banner:last-of-type {
  background-position: 337px 0px;
  background-position-x: 556px;
  background-position-y: 0px;
}
.scroll-y.row{
  overflow-x: scroll;
}
.fotter-first.row2{
  flex-wrap: wrap;
}
.fotter-first .width-50{
  width: 100%;
}
.title-48 {
  font-size: 32px;
}
.footer-text{
  padding: 0;
  text-align: left;
}

}

@media (max-width: 768px) {
  footer .container{
    padding: 0 12px;
  }
  .burger-menu{
    width: 100%;
  }
  .header-first{
    width: 100%;
  }
  .project-text__slider {
    width: 100%;
  
  }
  .project-image__slider{
    display: none;
  }
  .projects-mainpage h2 {
    margin-bottom: 35px;
}
.footer-subscribe{
  flex-wrap: wrap;

}
.footer-subscribe input{
  width: 100%;
  margin: 0 0 20px 0;
}
header.header-scroll .header-img,
.header-img {
  width: 120px;
  height: 35px;
}
.header-slide {
  height: 350px;
}
.header-slider__text {
  margin-top: 120px;
}
.header-slider__text .title-60 {
  font-size: 22px;
  line-height: 36px;
  max-width: 400px;
  max-height: 66px;}
  .header-title-24, .header-slider__text a{
    font-size: 14px;
  }
  .header-title-24, .header-slider__text .title-60 {
    margin: 0 0 8px 0;
}
.marginb-50 {
  margin-bottom: 25px;
}.title-48 {
  font-size: 26px;
}
.counting-banner__text, .counting-banner__num span {
  font-size: 24px;
}
.counting-banner__num {
  margin: 0px 0 8px 0;
}
.partners-slider{
  margin: 35px 0px 40px 0;
}
.learn-more1 h1{
  font-size: 28px;
  line-height: 46px;
}
.learn-more .video {
  height: 200px;
}
.title-46 {
  font-size: 22px;
  line-height: 36px;
  height: 74px;
  padding: 0 67px 0 0;
}
.big-banner {
  height: 250px;
  padding: 40px 30px 0 30px;

}

.big-banner a {
  padding: 25px 25px 15px 25px;
}
.big-banner a img {
  width: 30px;
}
.project-slider__text{
  padding: 20px 20px 30px 20px;
}

.projects-mainpage.margin-120 {
  margin: 35px auto 50px auto;
}
.news-section {
  margin: 0px 0 35px 0;
}

.footer-info div {
  margin-bottom: 15px;
}
.footer-text {
  height: initial;
}
.partners-slide{
  padding: 0 6px;
  align-items: center;
  justify-content: center;
}
.footer-info {
  margin: 20px 0 0 0;
}
.news-section .row2{
  flex-wrap: wrap;
}
.news-slider {
  width: 100%;
}
.news-list__news-slider.width-50{
  width: 100%;
}
.news-list__news-slider{
  padding: 30px 12px 0 12px;
}
.news-slider__content{
  padding: 40px;
}
.news-slider__content .title-30 {
  margin: 70px 0 10px 0;
}
.news-slide, .news-slider {
  height: 450px;
}
.fotter-row {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.big-banner:first-of-type{
  background-position: 17px 160px;
  background-size: 200px;
}

}
@media (max-width: 576px) {
}
@media (max-width: 440px) {
}
